.topNav {
    overflow: hidden;
    background-color: #000000;
}

.topNav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topNav a:hover {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}