.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto;
    overflow: hidden;
  }
  
.containerChild {
  max-width: 80rem;
  padding: 0 1rem;
  margin: 3rem auto 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@media screen and (max-width:940px) {
  .layout {
    background-color: transparent;
    height: 100vh;
    display: flex;
    grid-template-columns: 0% auto;
    padding: 0 1rem;
  }
}
@media screen and (min-width:941px){
  .layout {
    background-color: transparent;
    height:100vh;
    display: grid;
    grid-template-columns: 20% auto;
    padding: 0 1rem;
  }
}

.layoutHome {
  background-color: transparent;
  height:100vh;
}