.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
  }
  
.containerChild {
  max-width: 80rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

@media screen and (max-width:940px) {
  .layout {
    background-color: transparent;
    height: 100vh;
    display: flex;
    grid-template-columns: 0% auto;
    padding: 0 1rem;
    background-image: url("/images/background.jpg");
    background-position: "center";
    background-size: "cover";
    background-repeat: no-repeat;
  }
}
@media screen and (min-width:941px){
  .layout {
    background-color: transparent;
    height:100vh;
    display: grid;
    grid-template-columns: 20% auto;
    padding: 0 1rem;
    background-image: url("/images/background.jpg");
    background-position: "center";
    background-size: "cover";
    background-repeat: no-repeat;
  }
}

.layoutHome {
  background-color: transparent;
  height:100vh;
  background-image: url("/images/background.jpg");
}