@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

html {
  background-color: #0a0a0b;
  overflow-x: hidden;
  background-image: url("/images/background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  padding: 0;
  margin: 0;
  line-height: 1.2;
  font-size: 16px;
  font-family: 'Bruno Ace', cursive;
}

a {
  color: #E1E2E2;
  text-decoration: none;
  font-family: 'Bruno Ace', cursive;
}

a:hover {
  color: #E31C79;
}

img {
  max-width: 100%;
  display: block;
}

p {
  color: #E6E2DD;
  font-family: 'Bruno Ace', cursive;
}

h2,h3 {
  color: #ffffff;
  font-family: 'Bruno Ace', cursive;
}

button {
  color: #ffffff;
  font-family: 'Bruno Ace', cursive;
}