html {
  background-color: #051622;
}
body {
  padding: 0;
  margin: 0;
  line-height: 1.2;
  font-size: 16px;
}

a {
  color: #E1E2E2;
  text-decoration: none;
}

a:hover {
  color: #FB8122;
  /* text-decoration: underline; */
}

img {
  max-width: 100%;
  display: block;
}

p {
  color: #E6E2DD;
}

h2 {
  color: #ffffff;
}

.MuiCard-root{
  background-color: rgba(60, 61, 69, 0.6);
}